This file is for prototyping functions and transforming LLM result for Web Application only. Some of the functions may look pretty nasty

In [1]:
import pandas as pd
import numpy as np
import re

In [12]:
df = pd.read_csv('ner_textsummarization_sentiment_results.csv')
df = df.astype(str)

In [13]:
def extract_entities(entities, label):
    pattern = rf'{label}:\s*([^,]+)'
    matches = re.findall(pattern, entities)
    return ', '.join(matches)

def explode_entities(df):
    df['PERSON'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'PERSON'))
    df['ORG'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'ORG'))
    df['GPE'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'GPE'))
    df['PRODUCT'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'PRODUCT'))
    return df;

In [14]:
df_test = df[0:20]

In [15]:
df_test = explode_entities(df_test)

/var/folders/_n/qjdd7bs17zq6y1gkznf3mbcm0000gn/T/ipykernel_70687/3800056323.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PERSON'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'PERSON'))
/var/folders/_n/qjdd7bs17zq6y1gkznf3mbcm0000gn/T/ipykernel_70687/3800056323.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ORG'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'ORG'))
/var/folders/_n/qjdd7bs17zq6y1gkznf3mbcm0000gn/T/ipykernel_70687/3800056323.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GPE'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'GPE'))
/var/folders/_n/qjdd7bs17zq6y1gkznf3mbcm0000gn/T/ipykernel_70687/3800056323.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['PRODUCT'] = df['entities_detected'].apply(lambda x: extract_entities(x, 'PRODUCT'))

In [16]:
df_test

,title,cleaned_content,entities_detected,entities_detected_title,summary,sentiment_label,PERSON,ORG,GPE,PRODUCT
0,"Richard Branson Announces New Space Company, T...","Richard Branson Announces New Space Company, T...","PERSON: richard branson, ORG: new space compan...",PERSON: richard branson,"Richard Branson Announces New Space Company, T...",NEGATIVE,"richard branson, richard bransonvirgin galacti...","new space company space company, branson, virg...",,
1,"No, Poppy Seeds Probably Aren't Going to Make ...","No, Poppy Seeds Probably Aren't Going to Make ...","PERSON: sciencebodyodpoppy, PERSON: seinfeld, ...",nan,"No, Poppy Seeds Probably Aren't Going to Make ...",NEGATIVE,"sciencebodyodpoppy, seinfeld, olivia gordon","scishow youtube, lifehacker, likethe rootconn",,
2,Grab an Amazon Echo for half off today,Grab an Amazon Echo for half off todayEngadget...,"ORG: amazon echo, ORG: login home gear gaming ...",ORG: amazon,Grab an Amazon Echo for half off today. The sm...,NEGATIVE,"kik, bloomberg, elon musk, devindra hardawar /...","amazon echo, login home gear gaming entertainm...",,login the wirecutter ' s
3,Vodafone shows again that own-brand phones can...,Vodafone shows again that own-brand phones can...,"ORG: vodafone, ORG: login home gear gaming ent...",ORG: vodafone,Vodafone shows again that own-brand phones can...,NEGATIVE,"saveshare vodafone, jamie rigg","vodafone, login home gear gaming entertainment...",,"lg q6, a8 3h, ultra"
4,Apple’s Lisa Jackson to talk about the environ...,Apple’s Lisa Jackson to talk about the environ...,"ORG: apple, PERSON: lisa jackson, ORG: sf |, O...","ORG: apple, PERSON: lisa jackson",Apple’s Lisa Jackson to talk about the environ...,NEGATIVE,"lisa jackson, tc messenger, apple, notapple, j...","apple, sf |, showsall, facebook, tc team sf, i...","san francisco, ca, us",nano
5,How Instagram Convinces Us to Eat Terrible-Tas...,How Instagram Convinces Us to Eat Terrible-Tas...,"PERSON: ins, PERSON: ins, GPE: japantown, ORG:...",PERSON: instagram,"With the right aesthetic, food can now go vira...",NEGATIVE,"ins, ins, instagram, instagram","dragon, instagram, l, . a . outlet, dragon, in...","japantown, new york",
6,This 32-year-old state senator is trying to ge...,This 32-year-old state senator is trying to ge...,"GPE: massachusetts, ORG: showsall, ORG: facebo...",GPE: massachusetts,This 32-year-old state senator is trying to ge...,NEGATIVE,"tc messenger, connie loizos, eric lesser, less...","showsall, facebook, tc team tc sessionsflareth...","massachusetts, massachusetts",
7,Rep. John Lewis' Graphic Novel Skyrockets Afte...,Rep. John Lewis' Graphic Novel Skyrockets Afte...,"PERSON: john lewis ', ORG: trump, PERSON: john...",PERSON: john lewis ',Rep. John Lewis' Graphic Novel Skyrockets Afte...,NEGATIVE,"john lewis ', john lewis ', lewisdonald, john ...","trump, trumpbet, amazon, twitter, congressiona...","georgia, russia, selma, montgomery",
8,Everyone Gets a Sweater With This Huge Sale fr...,Everyone Gets a Sweater With This Huge Sale fr...,"ORG: amazonjillian, PERSON: kinja apparelmen '...",ORG: amazon,Everyone Gets a Sweater With This Huge Sale fr...,NEGATIVE,"kinja apparelmen ' s, ken boned, calvin klein,...","amazonjillian, kinjago, amazon, red dahlia, sm...",,
9,US self-driving car bill heads to the House floor,US self-driving car bill heads to the House fl...,"GPE: us, ORG: the, ORG: house floorengadget, O...","GPE: us, PERSON: bill",US self-driving car bill heads to the House fl...,NEGATIVE,"wolfe, twitch, jack daniels, nathan saveshare,...","the, house floorengadget, login home gear gami...","us, new york, us, us","login motorcycle, chariot"
10,Former Battlefield runner-up UnifyID announces...,Former Battlefield runner-up UnifyID announces...,"ORG: unid, ORG: showsall, ORG: facebook, PERSO...",ORG: unifyid,Former Battlefield runner-up UnifyID announces...,POSITIVE,"tc messenger, ron miller storyboxedifyid","unid, showsall, facebook, tc team disrupt sf, ...",australia,
11,Everything You May Have Missed in the Newest R...,Everything You May Have Missed in the Newest R...,"ORG: rogue empire empire, ORG: rogue, PERSON: ...",nan,"The final trailer for Rogue One is here, and w...",POSITIVE,"krennic, galen erso, mads mikkelsen, krennic, ...","rogue empire empire, rogue",,
12,Prosecutors claim Marcus Hutchins admitted wri...,Prosecutors claim Marcus Hutchins admitted wri...,"PERSON: marcus hutchins, ORG: login home gear ...",PERSON: marcus hutchins,Prosecutors claim Marcus Hutchins admitted wri...,NEGATIVE,"marcus hutchins, marcus hutchins, getty images...","login home gear gaming entertainment, login us...","us, las vegas, las vegas, las vegas",
13,Priest Streams Aborted Fetus on Facebook Live ...,Priest Streams Aborted Fetus on Facebook Live ...,"ORG: live, PERSON: donald trump, ORG: live, PE...",PERSON: donald trump,Priest Streams Aborted Fetus on Facebook Live ...,NEGATIVE,"donald trump, donald trump peyser, frank pavon...","live, live, nightsinternet, facebook live, the...",,
14,Even the Cast Has Trouble Explaining Legion in...,Even the Cast Has Trouble Explaining Legion in...,"PERSON: noah hawley, ORG: legion, PERSON: hawl...",nan,Even the Cast Has Trouble Explaining Legion in...,NEGATIVE,"noah hawley, hawley, david haller, david, davi...","legion, fx, io9, gizmodorecommended stories le...",,
15,"Upgrade Your TV To a 55"" 4K Samsung For Just $500","Upgrade Your TV To a 55"" 4K Samsung For Just R...","ORG: samsung, ORG: rootcommerce content, ORG: ...",ORG: samsung,"Upgrade Your TV To a 55"" 4K Samsung For Just ...",NEGATIVE,"kinja, paul ryan","samsung, rootcommerce content, editorial and a...",,
16,Mercedes-AMG's F1-based Project One rewrites t...,Mercedes-AMG's F1-based Project One rewrites t...,"ORG: mercedes - amg ' s, ORG: f1, ORG: project...","ORG: mercedes - amg ', ORG: project one",Mercedes-AMG's F1-based Project One rewrites t...,NEGATIVE,"saveshare, tobias moers, tobias moers","mercedes - amg ' s, f1, project one, login hom...","london, uk","one, one"
17,Give Up Your Morning Coffee For Three Days to ...,Give Up Your Morning Coffee For Three Days to ...,"ORG: advertisement, PERSON: vesselin dochkov, ...",nan,Give Up Your Morning Coffee For Three Days to ...,NEGATIVE,"vesselin dochkov, eric writer","advertisement, lifehacker",,
18,I Bet You Didn't Know There Were This Many Way...,I Bet You Didn't Know There Were This Many Way...,"ORG: netflix, PERSON: advertisementoh, PERSON:...",nan,I Bet You Didn't Know There Were This Many Way...,NEGATIVE,"advertisementoh, sunny, katharine, gizec, kinj...","netflix, zoic, io9, netflix, fermata, disney, ...",,xbox one
19,Make a Spanish Tortilla in Just Ten Minutes Wi...,Make a Spanish Tortilla in Just Ten Minutes Wi...,PERSON: tortillaepotato,nan,Make a Spanish Tortilla in Just Ten Minutes Wi...,NEGATIVE,tortillaepotato,,,

In [31]:
df_exploded = explode_entities(df)

In [34]:
df_exploded

,title,cleaned_content,entities_detected,entities_detected_title,summary,sentiment_label,PERSON,ORG,GPE,PRODUCT
0,"Richard Branson Announces New Space Company, T...","Richard Branson Announces New Space Company, T...","PERSON: richard branson, ORG: new space compan...",PERSON: richard branson,"Richard Branson Announces New Space Company, T...",NEGATIVE,"richard branson, richard bransonvirgin galacti...","new space company space company, branson, virg...",,
1,"No, Poppy Seeds Probably Aren't Going to Make ...","No, Poppy Seeds Probably Aren't Going to Make ...","PERSON: sciencebodyodpoppy, PERSON: seinfeld, ...",nan,"No, Poppy Seeds Probably Aren't Going to Make ...",NEGATIVE,"sciencebodyodpoppy, seinfeld, olivia gordon","scishow youtube, lifehacker, likethe rootconn",,
2,Grab an Amazon Echo for half off today,Grab an Amazon Echo for half off todayEngadget...,"ORG: amazon echo, ORG: login home gear gaming ...",ORG: amazon,Grab an Amazon Echo for half off today. The sm...,NEGATIVE,"kik, bloomberg, elon musk, devindra hardawar /...","amazon echo, login home gear gaming entertainm...",,login the wirecutter ' s
3,Vodafone shows again that own-brand phones can...,Vodafone shows again that own-brand phones can...,"ORG: vodafone, ORG: login home gear gaming ent...",ORG: vodafone,Vodafone shows again that own-brand phones can...,NEGATIVE,"saveshare vodafone, jamie rigg","vodafone, login home gear gaming entertainment...",,"lg q6, a8 3h, ultra"
4,Apple’s Lisa Jackson to talk about the environ...,Apple’s Lisa Jackson to talk about the environ...,"ORG: apple, PERSON: lisa jackson, ORG: sf |, O...","ORG: apple, PERSON: lisa jackson",Apple’s Lisa Jackson to talk about the environ...,NEGATIVE,"lisa jackson, tc messenger, apple, notapple, j...","apple, sf |, showsall, facebook, tc team sf, i...","san francisco, ca, us",nano
...,...,...,...,...,...,...,...,...,...,...
13858,Encryption pioneer Martin Hellman talks securi...,Turing Award Winner Martin Hellman On Cryptogr...,"PERSON: martin hellman, ORG: showsall, PERSON:...","PERSON: martin hellman, ORG: apple, ORG: fbi",Turing Award Winner Martin Hellman On Cryptogr...,POSITIVE,"martin hellman, baiju bhatt, bloombergbrowse, ...","showsall, apple, fbi, apple, fbi, fbithe, fbi,...",san bernardino,
13859,Obama's 'Red Wedding' joke proves he deserved ...,President Barack Obama throws in a 'Game of Th...,"PERSON: barack obama, ORG: white house, GPE: w...",PERSON: obama,President Barack Obama made a 'Game of Thrones...,NEGATIVE,"barack obama, susan walshby, brittany levine b...","white house, ap photo /, senate, supreme court...","washington, washington, us, hotabout",
13860,Three ways to optimize Puppet,"By Jo Rhett April 25, 2016Departure board at n...","PERSON: jo rhett, PERSON: james creegan, ORG: ...",nan,"Heredoc format can suppress leading spaces, al...",NEGATIVE,"jo rhett, james creegan, jo rhett, geppetto, c...","flickr, cron, cron",,splay
13861,"Creating graffiti in VR looks so real, you can...",By Adam Rosenberg2016-05-08 21:07:15 UTCIf vir...,"PERSON: adam rosenberg2016 - 05 - 08, ORG: htc...",ORG: vr,Kingspray Graffiti Simulator VR is running on ...,POSITIVE,"adam rosenberg2016 - 05 - 08, obama, beyonce, ...","htc, kingspray, htc, hotmore, risingwhat, hotw...",hotabout,"vive, vive"
13862,Netflix orders 'Punisher' standalone series,"Jon Bernthal as Frank Castle, A. K. A. the Pun...","PERSON: jon bernthal, PERSON: frank castle, PE...",ORG: netflix,"The Punisher will star Jon Bernthal, who playe...",NEGATIVE,"jon bernthal, frank castle, a, . k . a . the, ...","iron fist, marvel, netflix, entertainment week...",hotabout,

In [1]:
df_exploded.to_csv('exploded_data.csv', index=False);

NameError: name 'df_exploded' is not defined

In [4]:
df_exploded = pd.read_csv('exploded_data.csv')

In [5]:
df_exploded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13863 entries, 0 to 13862
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   title                    13863 non-null  object
 1   cleaned_content          13833 non-null  object
 2   entities_detected        13799 non-null  object
 3   entities_detected_title  8483 non-null   object
 4   summary                  13863 non-null  object
 5   sentiment_label          13863 non-null  object
 6   PERSON                   13132 non-null  object
 7   ORG                      13602 non-null  object
 8   GPE                      8320 non-null   object
 9   PRODUCT                  4880 non-null   object
dtypes: object(10)
memory usage: 1.1+ MB

In [10]:
df_exploded[~df_exploded.PRODUCT.isna()]['ORG']

2        amazon echo, login home gear gaming entertainm...
3        vodafone, login home gear gaming entertainment...
4        apple, sf |, showsall, facebook, tc team sf, i...
9        the, house floorengadget, login home gear gami...
16       mercedes - amg ' s, f1, project one, login hom...
                               ...
13837    expa, expa labs, showsall, nowfundings & exits...
13838    miitomo, nintendo |, miitomo, nintendo, fbi, a...
13839    electronic arts, ea, dice, ea, respawn enterta...
13860                                   flickr, cron, cron
13861    htc, kingspray, htc, hotmore, risingwhat, hotw...
Name: ORG, Length: 4880, dtype: object

In [5]:
import pandas as pd
from collections import Counter
from collections import defaultdict
def count_top_entities_with_articles(df, entity_columns, top_n=10):
    """
    Extracts and counts the top entities detected in the dataframe and associates them with related articles.

    Parameters:
    - df: DataFrame containing the entity columns.
    - entity_columns: List of columns containing entities.
    - top_n: Number of top entities to return.

    Returns:
    - DataFrame with top entities, their counts, and related articles.
    """
    # Initialize a Counter object to keep track of entity counts
    entity_counter = Counter()
    # Dictionary to store the entities and related articles
    entity_articles = defaultdict(set)
    
    # Loop over the specified columns to count entities and store related articles
    for idx, row in df.iterrows():
        for col in entity_columns:
            entities = row[col] if pd.notna(row[col]) else ''
            for entity in entities.split(","):
                entity = entity.strip()
                if entity:
                    entity_counter[entity] += 1
                    entity_articles[entity].add(idx)  # Store the index of the article (or another identifier)
    
    # Convert the counter to a DataFrame
    top_entities = pd.DataFrame(entity_counter.most_common(top_n), columns=['Entity', 'Count'])
    top_entities['Related Articles'] = top_entities['Entity'].map(entity_articles)
    
    return top_entities

# Example usage:
entity_columns = ['PERSON', 'ORG', 'GPE', 'PRODUCT']  # Columns to extract entities from
top_entities_df = count_top_entities_with_articles(df_exploded, entity_columns)
print(top_entities_df)

       Entity  Count                                   Related Articles
0      google   4459  {8192, 8193, 2, 8194, 9, 8210, 29, 31, 35, 823...
1    facebook   4072  {8195, 4, 6, 8200, 10, 8204, 20, 24, 27, 8220,...
2       apple   3769  {4, 8215, 8216, 26, 30, 8225, 8233, 42, 52, 82...
3       trump   2478  {6145, 2050, 7, 13, 6159, 8208, 2065, 10259, 2...
4      amazon   2315  {2048, 4097, 2, 2053, 12293, 7, 8, 4104, 6154,...
5     android   1900  {4096, 6144, 8194, 6147, 12291, 10246, 4107, 1...
6   microsoft   1871  {6145, 6150, 4112, 10258, 2067, 6164, 4117, 61...
7     newwhat   1773  {12288, 10243, 10244, 12292, 10247, 12295, 122...
8  risingwhat   1751  {12288, 10243, 10244, 12292, 10247, 12295, 122...
9    showsall   1720  {4, 6, 8200, 10, 8204, 20, 24, 27, 8220, 8223,...

In [6]:
temp = top_entities_df.loc[top_entities_df.Entity == 'google']['Related Articles']
list(temp[0])

[8192,
 8193,
 2,
 8194,
 9,
 8210,
 29,
 31,
 35,
 8233,
 8250,
 60,
 8253,
 62,
 64,
 8259,
 8260,
 8266,
 8272,
 8275,
 88,
 8283,
 92,
 8287,
 8290,
 8293,
 8295,
 8307,
 8308,
 8322,
 137,
 138,
 8329,
 8334,
 8336,
 145,
 147,
 8346,
 8347,
 8352,
 161,
 165,
 8357,
 169,
 175,
 176,
 8367,
 178,
 8368,
 183,
 186,
 8385,
 8390,
 201,
 8393,
 8397,
 8399,
 8410,
 222,
 8416,
 8418,
 8425,
 8426,
 8427,
 8428,
 8429,
 8432,
 8433,
 8434,
 8440,
 8445,
 8448,
 8449,
 258,
 260,
 8456,
 8458,
 8459,
 8464,
 279,
 8471,
 8472,
 8475,
 284,
 8477,
 289,
 8482,
 8484,
 8486,
 8487,
 8488,
 299,
 8491,
 302,
 8494,
 8501,
 310,
 8505,
 318,
 321,
 322,
 8515,
 8520,
 340,
 344,
 8538,
 8541,
 355,
 8556,
 8557,
 367,
 8563,
 8565,
 8568,
 8572,
 8574,
 8575,
 385,
 8580,
 8583,
 393,
 394,
 396,
 8593,
 8594,
 8595,
 405,
 406,
 409,
 8602,
 8607,
 423,
 8615,
 425,
 8617,
 8618,
 428,
 8619,
 8631,
 8635,
 8642,
 8645,
 455,
 460,
 8655,
 465,
 8657,
 469,
 8661,
 8666,
 8667,
 8668,
 8670,
 8677,
 8685,
 8690,
 8691,
 8692,
 8695,
 506,
 8700,
 518,
 8713,
 8714,
 8718,
 8721,
 8724,
 534,
 8727,
 536,
 8729,
 8735,
 8736,
 8738,
 547,
 8739,
 551,
 552,
 8743,
 8745,
 8754,
 8758,
 8765,
 8766,
 8772,
 8789,
 598,
 8792,
 8795,
 8803,
 8806,
 8809,
 621,
 624,
 8816,
 8820,
 8824,
 8825,
 8826,
 639,
 8839,
 648,
 8851,
 8852,
 8853,
 8857,
 8862,
 8865,
 8878,
 8881,
 8882,
 691,
 8886,
 8887,
 8892,
 8896,
 705,
 8903,
 8905,
 8907,
 8910,
 720,
 8919,
 8921,
 8925,
 8926,
 8928,
 8934,
 8935,
 745,
 8954,
 8963,
 8981,
 8984,
 8985,
 8993,
 8994,
 8995,
 9000,
 9006,
 9010,
 820,
 9013,
 9023,
 9025,
 9029,
 9039,
 848,
 9040,
 9049,
 9056,
 9074,
 9078,
 889,
 9082,
 9106,
 9108,
 9109,
 9112,
 9123,
 946,
 9139,
 9142,
 9144,
 958,
 9158,
 9161,
 973,
 9169,
 9172,
 9174,
 9177,
 988,
 9180,
 992,
 994,
 999,
 9191,
 1008,
 1009,
 9202,
 9208,
 1019,
 9212,
 9214,
 9224,
 9228,
 9229,
 1053,
 9246,
 9248,
 1058,
 9251,
 9253,
 1064,
 1067,
 9261,
 1074,
 1075,
 9273,
 9275,
 1087,
 1088,
 9294,
 1103,
 9295,
 9296,
 9298,
 9302,
 1111,
 9303,
 9313,
 1123,
 1128,
 1136,
 1138,
 9330,
 9333,
 1155,
 1156,
 9347,
 9350,
 1160,
 9381,
 9382,
 9384,
 1194,
 9389,
 9392,
 1201,
 9400,
 9416,
 1236,
 1243,
 9438,
 1248,
 9444,
 9448,
 9453,
 9459,
 1272,
 9473,
 9476,
 1294,
 1297,
 9489,
 9493,
 9500,
 9505,
 1321,
 9515,
 9526,
 1340,
 9537,
 1346,
 9543,
 1352,
 1353,
 1354,
 9544,
 9548,
 9553,
 1372,
 1382,
 1384,
 9583,
 9587,
 9588,
 1404,
 9598,
 1408,
 9600,
 1410,
 9603,
 9606,
 1420,
 1422,
 1423,
 9624,
 9626,
 9627,
 9634,
 1447,
 1448,
 9644,
 9646,
 1456,
 9650,
 1459,
 1460,
 9653,
 1462,
 1463,
 9661,
 9663,
 1473,
 1476,
 9669,
 9673,
 1484,
 9676,
 9678,
 9683,
 1492,
 9690,
 1502,
 1504,
 9701,
 9706,
 9710,
 1520,
 9717,
 1526,
 1532,
 1537,
 9735,
 9740,
 1549,
 1555,
 1556,
 9750,
 1567,
 9760,
 9761,
 9765,
 9767,
 9768,
 1584,
 9778,
 9780,
 9781,
 9784,
 1594,
 1596,
 1599,
 9791,
 9794,
 1607,
 9808,
 9809,
 1620,
 1621,
 1624,
 1625,
 1628,
 1629,
 1637,
 9829,
 9834,
 9839,
 1648,
 1649,
 1655,
 1658,
 1662,
 1668,
 1677,
 9872,
 1681,
 9879,
 9881,
 1702,
 1704,
 1712,
 9904,
 1715,
 9907,
 1717,
 9909,
 9911,
 9914,
 9917,
 9928,
 1738,
 9932,
 1746,
 1749,
 9944,
 9946,
 9950,
 1761,
 1762,
 9960,
 9964,
 1773,
 9966,
 9968,
 9972,
 1781,
 1799,
 9992,
 1801,
 9993,
 1803,
 10000,
 1811,
 10004,
 1821,
 10014,
 10015,
 1824,
 1828,
 1849,
 1850,
 10041,
 10060,
 10068,
 1879,
 10072,
 1881,
 10074,
 1884,
 1891,
 10087,
 10089,
 1898,
 10090,
 10092,
 10094,
 1909,
 1912,
 10104,
 1920,
 1922,
 10114,
 1924,
 10118,
 10126,
 1941,
 1944,
 1946,
 10147,
 10149,
 10151,
 1963,
 1966,
 10163,
 1982,
 1985,
 10180,
 1995,
 2001,
 10199,
 10209,
 10222,
 10223,
 2036,
 2037,
 2039,
 10234,
 2044,
 10236,
 10238,
 2052,
 10246,
 10254,
 2063,
 2064,
 2071,
 10265,
 10274,
 10277,
 2098,
 2099,
 10293,
 10295,
 2107,
 10302,
 10316,
 10317,
 2126,
 2131,
 10334,
 2147,
 10341,
 10345,
 10349,
 10351,
 10365,
 2184,
 2185,
 10378,
 2219,
 2220,
 10415,
 10416,
 2225,
 2236,
 2237,
 2239,
 2243,
 2245,
 2248,
 2250,
 2257,
 2258,
 10455,
 2266,
 2275,
 10482,
 2296,
 2298,
 2299,
 10500,
 10506,
 10510,
 2320,
 2323,
 2324,
 2335,
 2342,
 2346,
 2353,
 2365,
 2368,
 10562,
 2372,
 2379,
 10572,
 10581,
 2391,
 10589,
 10594,
 10599,
 10605,
 10618,
 2442,
 2444,
 10640,
 2450,
 10642,
 10647,
 2460,
 2464,
 10657,
 2486,
 2492,
 10686,
 2496,
 10691,
 2509,
 2510,
 2511,
 2513,
 10706,
 2522,
 2527,
 2528,
 10729,
 10740,
 10749,
 2563,
 10757,
 10760,
 10763,
 2579,
 10777,
 2596,
 2597,
 2605,
 2611,
 10811,
 10815,
 2625,
 2627,
 10824,
 10828,
 2639,
 2643,
 2648,
 10840,
 10841,
 10846,
 10856,
 2668,
 10864,
 2676,
 2682,
 2684,
 10876,
 10881,
 10883,
 2692,
 2695,
 10887,
 10890,
 10895,
 10899,
 2721,
 10924,
 10926,
 10934,
 10937,
 10944,
 2753,
 10946,
 2758,
 2763,
 10961,
 2779,
 2783,
 10975,
 10979,
 2802,
 10996,
 2814,
 11006,
 11007,
 11011,
 2823,
 11015,
 2829,
 2830,
 11026,
 11030,
 11033,
 2849,
 11052,
 11055,
 11061,
 11063,
 11065,
 2880,
 11077,
 11078,
 2890,
 2894,
 11090,
 2899,
 11096,
 2905,
 2907,
 2908,
 2920,
 2921,
 11116,
 11117,
 11118,
 2931,
 2935,
 11127,
 2942,
 11135,
 2946,
 11141,
 11148,
 2959,
 2962,
 2966,
 11158,
 2968,
 2977,
 2981,
 11178,
 11185,
 2998,
 3003,
 11195,
 11197,
 11203,
 11204,
 3013,
 11212,
 11221,
 3040,
 3048,
 11241,
 3051,
 3054,
 3055,
 11251,
 3062,
 11257,
 3066,
 11260,
 11266,
 3078,
 11273,
 3082,
 11281,
 3101,
 3112,
 11307,
 3123,
 11326,
 3137,
 3138,
 11331,
 3141,
 3148,
 11341,
 11344,
 3161,
 11358,
 3176,
 11372,
 11373,
 11377,
 3195,
 11390,
 11397,
 11401,
 11406,
 3220,
 3222,
 11415,
 3226,
 11418,
 11422,
 11425,
 3234,
 11426,
 3243,
 3246,
 3253,
 11452,
 3261,
 11453,
 11455,
 11466,
 3275,
 3278,
 11472,
 11475,
 11477,
 3288,
 3290,
 3307,
 3309,
 11504,
 11507,
 3316,
 3323,
 11528,
 3337,
 11533,
 11539,
 11540,
 11548,
 11551,
 11552,
 11554,
 11561,
 11567,
 3386,
 11585,
 11588,
 11593,
 11595,
 3407,
 3409,
 11615,
 11620,
 3436,
 11634,
 11636,
 11638,
 3452,
 11644,
 3454,
 11652,
 3461,
 11653,
 11654,
 3467,
 3479,
 11674,
 11681,
 3491,
 11684,
 11688,
 11690,
 11692,
 11695,
 3508,
 11702,
 3517,
 11711,
 11713,
 3523,
 11716,
 11717,
 3527,
 3529,
 3530,
 11730,
 11733,
 3545,
 11738,
 11740,
 3551,
 3554,
 11755,
 3571,
 3573,
 3574,
 11766,
 3577,
 3578,
 11777,
 3587,
 3588,
 11790,
 3599,
 3621,
 3628,
 11823,
 3632,
 3637,
 11834,
 3645,
 3651,
 3653,
 11845,
 3655,
 3658,
 11854,
 3669,
 11861,
 3673,
 11873,
 11877,
 3689,
 11884,
 11887,
 11889,
 3713,
 3715,
 3721,
 3725,
 11923,
 11926,
 11932,
 3742,
 3744,
 11940,
 11946,
 3755,
 3763,
 11957,
 11961,
 11968,
 11969,
 11970,
 3783,
 11978,
 11987,
 11995,
 3804,
 3808,
 3811,
 12003,
 12005,
 3817,
 12013,
 3824,
 3825,
 12018,
 12027,
 12030,
 12031,
 3842,
 3847,
 3848,
 12040,
 12044,
 12048,
 12060,
 12064,
 3874,
 3883,
 3891,
 3892,
 3894,
 12096,
 3905,
 12099,
 3914,
 3925,
 12120,
 3931,
 12128,
 3937,
 12136,
 12138,
 12140,
 3952,
 3955,
 12149,
 12158,
 3967,
 3968,
 12163,
 3980,
 12173,
 12185,
 12189,
 3998,
 12199,
 12200,
 ...]

In [7]:
df_exploded.iloc[list(temp[0])]

,title,cleaned_content,entities_detected,entities_detected_title,summary,sentiment_label,PERSON,ORG,GPE,PRODUCT
8192,DNC executives leave following email hack,DNC executives leave following email hackEngad...,"ORG: dnc, ORG: login home gear gaming culture ...",ORG: dnc,DNC executives leave following email hack. CEO...,NEGATIVE,"andrew burton / getty imagessave, jon fingas, ...","dnc, login home gear gaming culture entertainm...",california,login ' pokemon go '
8193,We’re set to reach 100% renewable energy — and...,We’re set to reach 100% renewable energy — and...,ORG: menulatest storiesproduct news feedenviro...,NaN,We’re set to reach 100% renewable energy — and...,POSITIVE,"urs holzlesenior, marty mcfly",menulatest storiesproduct news feedenvironment...,"iowa, grady county, ok, rutherford county, nc,...",NaN
2,Grab an Amazon Echo for half off today,Grab an Amazon Echo for half off todayEngadget...,"ORG: amazon echo, ORG: login home gear gaming ...",ORG: amazon,Grab an Amazon Echo for half off today. The sm...,NEGATIVE,"kik, bloomberg, elon musk, devindra hardawar /...","amazon echo, login home gear gaming entertainm...",NaN,login the wirecutter ' s
8194,ZTE’s first Android Wear smartwatch shows up i...,Ahead of Google’s Android Wear 2. 0 launch lat...,"ORG: google, ORG: android wear 2, ORG: venture...","ORG: zte, ORG: android wear",ZTE's first Android Wear smartwatch has leaked...,NEGATIVE,NaN,"google, android wear 2, venture, zte, android ...",NaN,NaN
9,US self-driving car bill heads to the House floor,US self-driving car bill heads to the House fl...,"GPE: us, ORG: the, ORG: house floorengadget, O...","GPE: us, PERSON: bill",US self-driving car bill heads to the House fl...,NEGATIVE,"wolfe, twitch, jack daniels, nathan saveshare,...","the, house floorengadget, login home gear gami...","us, new york, us, us","login motorcycle, chariot"
...,...,...,...,...,...,...,...,...,...,...
8176,Teach your children the alphabet with D is for...,Teach your children the alphabet with D is for...,"PERSON: andrew, ORG: bungie, ORG: mmorpg, ORG:...",NaN,Teach your children the alphabet with D is for...,NEGATIVE,"andrew, tom cruise, greg sandovalsep, adi","bungie, mmorpg, bungie, cthulhu, insight books...",NaN,NaN
8177,Congress members pen letter to FAA in support ...,Congress members pen letter to FAA in support ...,"ORG: congress, ORG: faa, ORG: spacex investiga...","ORG: congress, ORG: faa, ORG: spacex",Congress members pen letter to FAA in support ...,NEGATIVE,"tc messenger, frederic court, darrell ethering...","congress, faa, spacex investigation, showsall,...",NaN,"| techcrunch menusearchfollow, falcon"
8184,Android Finally Redesigns Its Emoji to Be Less...,Android Finally Redesigns Its Emoji to Be Less...,"ORG: android, ORG: android, ORG: kinjago, ORG:...",ORG: android,Android Finally Redesigns Its Emoji to Be Less...,NEGATIVE,dave burke,"android, android, kinjago, android, android n,...",NaN,NaN
8188,Nissan hopes to test driverless cars on London...,Nissan hopes to test driverless cars on London...,"ORG: nissan, GPE: london, ORG: | ars technicac...","ORG: nissan, GPE: london",Nissan hopes to test driverless cars on London...,NEGATIVE,"siteabout arsstaff, directorycontact usadverti...","nissan, | ars technicaclosebiz & & cultureforu...","london, london, uk, london, uk, uk, california...",NaN
8191,Sega will officially support modded Genesis ga...,Sega will officially support modded Genesis ga...,"ORG: sega, ORG: genesis |, ORG: macbook, ORG: ...","ORG: sega, ORG: genesis",Sega will officially support modded Genesis ga...,NEGATIVE,"bescarlett johansson s, nintendo, search, face...","sega, genesis |, macbook, hp, shell, microsoft...","canada, us",xbox one

In [14]:
df_exploded.iloc[list(temp[0])].columns

Index(['title', 'cleaned_content', 'entities_detected',
       'entities_detected_title', 'summary', 'sentiment_label', 'PERSON',
       'ORG', 'GPE', 'PRODUCT'],
      dtype='object')

In [8]:
def query_entity_in_articles(df, entity_columns, entity):
    """
    Queries whether a specified entity is present in the specified columns and returns a DataFrame 
    with the entity, its count, and the related articles.

    Parameters:
    - df: DataFrame containing the entity columns.
    - entity_columns: List of columns containing entities.
    - entity: The entity to search for.

    Returns:
    - DataFrame with the entity, its count, and related articles.
    """
    # Initialize count and a set to store related articles
    entity_count = 0
    related_articles = set()

    # Loop over the specified columns to find the entity and store related articles
    for idx, row in df.iterrows():
        for col in entity_columns:
            entities = row[col] if pd.notna(row[col]) else ''
            if entity in [e.strip() for e in entities.split(",")]:
                entity_count += 1
                related_articles.add(idx)  # Store the index of the article (or another identifier)

    # Construct the resulting DataFrame in the required format
    result_df = pd.DataFrame({
        'Entity': [entity],
        'Count': [entity_count],
        'Related Articles': [related_articles]
    })

    return result_df

In [21]:
def find_unique_entities(df, entity_columns):
    """
    Finds all unique entities in the specified columns of the dataframe.

    Parameters:
    - df: DataFrame containing the entity columns.
    - entity_columns: List of columns containing entities.

    Returns:
    - Set of unique entities across all specified columns.
    """
    unique_entities = set()

    for col in entity_columns:
        # Drop NaNs in the column, split by commas for each row, strip spaces, and add to the set
        unique_entities.update(
            entity.strip() 
            for entities in df[col].dropna() 
            for entity in entities.split(",")
        )

    return unique_entities

In [2]:
from collections import Counter, defaultdict
import pandas as pd

def count_top_entities_with_articles_by_column(df, entity_columns, top_n=10):
    """
    Extracts and counts the top entities for each entity column in the dataframe 
    and associates them with related articles.

    Parameters:
    - df: DataFrame containing the entity columns.
    - entity_columns: List of columns containing entities.
    - top_n: Number of top entities to return for each column.

    Returns:
    - Dictionary where each key is a column name and the value is a DataFrame 
      with the top entities, their counts, and related articles.
    """
    # Dictionary to store top entities and related articles for each column
    column_top_entities = {}

    # Loop over each specified column to count entities and store related articles
    for col in entity_columns:
        entity_counter = Counter()
        entity_articles = defaultdict(set)

        for idx, row in df.iterrows():
            entities = row[col] if pd.notna(row[col]) else ''
            for entity in entities.split(","):
                entity = entity.strip()
                if entity:
                    entity_counter[entity] += 1
                    entity_articles[entity].add(idx)  # Store the index of the article (or another identifier)

        # Convert the counter to a DataFrame for the current column
        top_entities_df = pd.DataFrame(entity_counter.most_common(top_n), columns=['Entity', 'Count'])
        top_entities_df['Related Articles'] = top_entities_df['Entity'].map(entity_articles)
        
        # Store the top entities DataFrame for the current column
        column_top_entities[col] = top_entities_df

    return column_top_entities

In [7]:
temp = count_top_entities_with_articles_by_column(df_exploded, ['PERSON', 'ORG', 'GPE', 'PRODUCT'])

In [8]:
temp

{'PERSON':                          Entity  Count  \
 0                         trump   2209
 1                       newwhat   1773
 2                  tc messenger   1577
 3                  donald trump    905
 4                      snapchat    652
 5                         kinja    650
 6                     instagram    577
 7                         obama    536
 8            siteabout arsstaff    518
 9  directorycontact usadvertise    518

                                     Related Articles
 0  {6145, 2050, 7, 13, 6159, 8208, 2065, 10259, 2...
 1  {12288, 10243, 10244, 12292, 10247, 12295, 122...
 2  {4, 6, 8200, 10, 8204, 20, 24, 27, 8220, 8223,...
 3  {8192, 6148, 7, 13, 8208, 10259, 6166, 23, 616...
 4  {4110, 10257, 12314, 4132, 12330, 4143, 4148, ...
 5  {9217, 6148, 1541, 4615, 6665, 4619, 2573, 15,...
 6  {5, 12299, 2062, 2072, 6170, 30, 4132, 10281, ...
 7  {6146, 6, 10259, 6166, 2072, 6172, 6194, 6198,...
 8  {6151, 6152, 10251, 8211, 10265, 4123, 10269, ...
 9  {6151, 6152, 10251, 8211, 10265, 4123, 10269, ...  ,
 'ORG':        Entity  Count                                   Related Articles
 0      google   4426  {8192, 8193, 2, 8194, 9, 8210, 29, 31, 35, 823...
 1    facebook   4064  {8195, 4, 6, 8200, 10, 8204, 20, 24, 27, 8220,...
 2       apple   3764  {4, 8215, 8216, 26, 30, 8225, 8233, 42, 52, 82...
 3      amazon   2315  {2048, 4097, 2, 2053, 12293, 7, 8, 4104, 6154,...
 4     android   1897  {4096, 6144, 8194, 6147, 12291, 10246, 4107, 1...
 5   microsoft   1871  {6145, 6150, 4112, 10258, 2067, 6164, 4117, 61...
 6  risingwhat   1751  {12288, 10243, 10244, 12292, 10247, 12295, 122...
 7    showsall   1715  {4, 6, 8200, 10, 8204, 20, 24, 27, 8220, 8223,...
 8        uber   1511  {2056, 9, 16, 12305, 2067, 4117, 8218, 30, 204...
 9     twitter   1411  {8192, 6145, 10240, 4101, 2054, 7, 10246, 2062...,
 'GPE':        Entity  Count                                   Related Articles
 0          us   1556  {4, 6151, 4104, 9, 6153, 8201, 12, 2063, 4112,...
 1          uk   1256  {6144, 10240, 4098, 6149, 6151, 4104, 2057, 61...
 2       china    975  {2051, 2064, 10262, 12315, 6172, 12316, 4126, ...
 3    hotabout    854  {12288, 10243, 10244, 12292, 10247, 12295, 122...
 4      london    714  {12292, 4101, 2054, 2060, 6157, 16, 2066, 2068...
 5    new york    565  {5, 12294, 9, 10249, 4107, 10253, 23, 12312, 2...
 6       india    561  {7171, 3588, 7173, 10246, 1031, 2056, 7689, 97...
 7   australia    518  {12800, 11267, 12805, 5639, 11272, 10, 11275, ...
 8  california    504  {8192, 2050, 12298, 2059, 6158, 23, 2079, 1027...
 9     america    467  {2050, 6153, 10253, 6159, 10270, 4131, 12329, ...,
 'PRODUCT':                                     Entity  Count  \
 0            | techcrunch menusearchfollow   1120
 1  submitthank youinvalid emailfollow uson    580
 2                               windows 10    382
 3                                  windows    263
 4                                 xbox one    221
 5                              galaxy note    201
 6                                       vr    148
 7                                  model 3    134
 8                                     vive    131
 9                                        -    125

                                     Related Articles
 0  {10241, 10242, 6149, 2056, 8200, 10250, 2059, ...
 1  {8195, 2052, 10249, 12298, 12300, 12304, 12307...
 2  {10753, 518, 6150, 10763, 3596, 9740, 11278, 1...
 3  {4608, 1538, 6147, 6150, 3596, 6161, 10258, 66...
 4  {10244, 7687, 8716, 9229, 6160, 18, 2067, 7702...
 5  {12801, 7170, 4100, 4112, 7697, 7702, 1561, 56...
 6  {13827, 1540, 1542, 13831, 8718, 10771, 8724, ...
 7  {1026, 9218, 13327, 1570, 10793, 3117, 1590, 1...
 8  {1540, 13831, 5130, 8724, 6170, 2081, 10786, 1...
 9  {8704, 4482, 1539, 8835, 2437, 6789, 9347, 105...  }

In [2]:
df_date = pd.read_csv('tech_csv_data.csv')

In [6]:
df_exploded

,title,cleaned_content,entities_detected,entities_detected_title,summary,sentiment_label,PERSON,ORG,GPE,PRODUCT
0,"Richard Branson Announces New Space Company, T...","Richard Branson Announces New Space Company, T...","PERSON: richard branson, ORG: new space compan...",PERSON: richard branson,"Richard Branson Announces New Space Company, T...",NEGATIVE,"richard branson, richard bransonvirgin galacti...","new space company space company, branson, virg...",NaN,NaN
1,"No, Poppy Seeds Probably Aren't Going to Make ...","No, Poppy Seeds Probably Aren't Going to Make ...","PERSON: sciencebodyodpoppy, PERSON: seinfeld, ...",NaN,"No, Poppy Seeds Probably Aren't Going to Make ...",NEGATIVE,"sciencebodyodpoppy, seinfeld, olivia gordon","scishow youtube, lifehacker, likethe rootconn",NaN,NaN
2,Grab an Amazon Echo for half off today,Grab an Amazon Echo for half off todayEngadget...,"ORG: amazon echo, ORG: login home gear gaming ...",ORG: amazon,Grab an Amazon Echo for half off today. The sm...,NEGATIVE,"kik, bloomberg, elon musk, devindra hardawar /...","amazon echo, login home gear gaming entertainm...",NaN,login the wirecutter ' s
3,Vodafone shows again that own-brand phones can...,Vodafone shows again that own-brand phones can...,"ORG: vodafone, ORG: login home gear gaming ent...",ORG: vodafone,Vodafone shows again that own-brand phones can...,NEGATIVE,"saveshare vodafone, jamie rigg","vodafone, login home gear gaming entertainment...",NaN,"lg q6, a8 3h, ultra"
4,Apple’s Lisa Jackson to talk about the environ...,Apple’s Lisa Jackson to talk about the environ...,"ORG: apple, PERSON: lisa jackson, ORG: sf |, O...","ORG: apple, PERSON: lisa jackson",Apple’s Lisa Jackson to talk about the environ...,NEGATIVE,"lisa jackson, tc messenger, apple, notapple, j...","apple, sf |, showsall, facebook, tc team sf, i...","san francisco, ca, us",nano
...,...,...,...,...,...,...,...,...,...,...
13858,Encryption pioneer Martin Hellman talks securi...,Turing Award Winner Martin Hellman On Cryptogr...,"PERSON: martin hellman, ORG: showsall, PERSON:...","PERSON: martin hellman, ORG: apple, ORG: fbi",Turing Award Winner Martin Hellman On Cryptogr...,POSITIVE,"martin hellman, baiju bhatt, bloombergbrowse, ...","showsall, apple, fbi, apple, fbi, fbithe, fbi,...",san bernardino,NaN
13859,Obama's 'Red Wedding' joke proves he deserved ...,President Barack Obama throws in a 'Game of Th...,"PERSON: barack obama, ORG: white house, GPE: w...",PERSON: obama,President Barack Obama made a 'Game of Thrones...,NEGATIVE,"barack obama, susan walshby, brittany levine b...","white house, ap photo /, senate, supreme court...","washington, washington, us, hotabout",NaN
13860,Three ways to optimize Puppet,"By Jo Rhett April 25, 2016Departure board at n...","PERSON: jo rhett, PERSON: james creegan, ORG: ...",NaN,"Heredoc format can suppress leading spaces, al...",NEGATIVE,"jo rhett, james creegan, jo rhett, geppetto, c...","flickr, cron, cron",NaN,splay
13861,"Creating graffiti in VR looks so real, you can...",By Adam Rosenberg2016-05-08 21:07:15 UTCIf vir...,"PERSON: adam rosenberg2016 - 05 - 08, ORG: htc...",ORG: vr,Kingspray Graffiti Simulator VR is running on ...,POSITIVE,"adam rosenberg2016 - 05 - 08, obama, beyonce, ...","htc, kingspray, htc, hotmore, risingwhat, hotw...",hotabout,"vive, vive"
13862,Netflix orders 'Punisher' standalone series,"Jon Bernthal as Frank Castle, A. K. A. the Pun...","PERSON: jon bernthal, PERSON: frank castle, PE...",ORG: netflix,"The Punisher will star Jon Bernthal, who playe...",NEGATIVE,"jon bernthal, frank castle, a, . k . a . the, ...","iron fist, marvel, netflix, entertainment week...",hotabout,NaN

In [7]:
# Select only the 'title' and 'pubdate' columns from df_date before merging
df_explode_with_date = pd.merge(df_exploded, df_date[['title', 'pubdate']], on='title', how='left')

In [17]:
df_explode_with_date.columns

Index(['title', 'cleaned_content', 'entities_detected',
       'entities_detected_title', 'summary', 'sentiment_label', 'PERSON',
       'ORG', 'GPE', 'PRODUCT', 'pubdate'],
      dtype='object')

In [6]:
df_exploded = pd.read_csv('exploded_data_with_date.csv')

In [9]:
import pandas as pd
from collections import Counter, defaultdict

def calculate_sentiment_score_by_entity(df, entity_columns):
    """
    For each entity, calculate the sentiment score by determining how many
    "POSITIVE" sentiment articles the entity is associated with, and dividing
    by the total number of articles for that entity.

    Parameters:
    - df: DataFrame containing entity columns and sentiment labels.
    - entity_columns: List of columns containing entities.

    Returns:
    - DataFrame with each unique entity, number of articles, number of positive sentiment articles,
      and the sentiment score.
    """
    # Dictionary to store entity information: counts, positive sentiment counts, and article indices
    entity_info = defaultdict(lambda: {'count': 0, 'positive_count': 0, 'articles': set()})

    # Iterate over the rows of the DataFrame
    for idx, row in df.iterrows():
        sentiment = row['sentiment_label']  # Sentiment label for this article
        for col in entity_columns:
            # Get the list of entities from the current entity column (ensure it's a valid string)
            entities = row[col] if pd.notna(row[col]) else ''
            for entity in entities.split(","):
                entity = entity.strip()
                if entity:
                    # Update the entity info: increase total count, add to articles, and count positives
                    entity_info[entity]['count'] += 1
                    entity_info[entity]['articles'].add(idx)
                    if sentiment == "POSITIVE":
                        entity_info[entity]['positive_count'] += 1

    # Create a DataFrame to store the final result
    result_data = []
    for entity, data in entity_info.items():
        total_articles = data['count']
        positive_articles = data['positive_count']
        # Calculate sentiment score: positive articles / total articles
        sentiment_score = positive_articles / total_articles if total_articles > 0 else 0
        result_data.append({
            'Entity': entity,
            'Number of Articles': total_articles,
            'Number of Positive Articles': positive_articles,
            'Sentiment Score': sentiment_score
        })

    # Convert the result data to a DataFrame
    sentiment_score_df = pd.DataFrame(result_data)

    # Sort by sentiment score (optional, can change the sorting order if needed)
    sentiment_score_df = sentiment_score_df.sort_values(by='Sentiment Score', ascending=False)

    return sentiment_score_df

# Example usage
# Assuming df_exploded_with_date is your dataframe and entity_columns is a list of entity columns to analyze
entity_columns = ['PERSON', 'ORG', 'GPE', 'PRODUCT']
sentiment_score_df = calculate_sentiment_score_by_entity(df_exploded, entity_columns)

In [12]:
import pandas as pd
from collections import defaultdict

def calculate_weekly_sentiment_score_by_entity(df, entity_columns, date_column):
    """
    For each entity and week, calculate the weekly average sentiment score by determining how many
    "POSITIVE" sentiment articles the entity is associated with, divided by the total number of articles
    for that entity in that week.

    Parameters:
    - df: DataFrame containing entity columns, sentiment labels, and a date column.
    - entity_columns: List of columns containing entities.
    - date_column: Name of the column containing the article date.

    Returns:
    - DataFrame with each unique entity, week, number of articles, number of positive sentiment articles,
      and the weekly sentiment score.
    """
    # Ensure the date column is in datetime format
    df[date_column] = pd.to_datetime(df[date_column])

    # Add a 'week' column based on the date column
    df['week'] = df[date_column].dt.to_period('W').dt.start_time

    # Dictionary to store entity information: counts, positive sentiment counts, and weeks
    entity_week_info = defaultdict(lambda: defaultdict(lambda: {'count': 0, 'positive_count': 0}))

    # Iterate over the rows of the DataFrame
    for idx, row in df.iterrows():
        sentiment = row['sentiment_label']  # Sentiment label for this article
        week = row['week']  # The week for this article
        for col in entity_columns:
            # Get the list of entities from the current entity column (ensure it's a valid string)
            entities = row[col] if pd.notna(row[col]) else ''
            for entity in entities.split(","):
                entity = entity.strip()
                if entity:
                    # Update the entity info: increase total count and count positives for the week
                    entity_week_info[entity][week]['count'] += 1
                    if sentiment == "POSITIVE":
                        entity_week_info[entity][week]['positive_count'] += 1

    # Create a DataFrame to store the final result
    result_data = []
    for entity, week_data in entity_week_info.items():
        for week, data in week_data.items():
            total_articles = data['count']
            positive_articles = data['positive_count']
            # Calculate sentiment score: positive articles / total articles
            sentiment_score = positive_articles / total_articles if total_articles > 0 else 0
            result_data.append({
                'Entity': entity,
                'Week': week,
                'Number of Articles': total_articles,
                'Number of Positive Articles': positive_articles,
                'Sentiment Score': sentiment_score
            })

    # Convert the result data to a DataFrame
    weekly_sentiment_score_df = pd.DataFrame(result_data)

    # Sort by entity and week (optional)
    weekly_sentiment_score_df = weekly_sentiment_score_df.sort_values(by=['Entity', 'Week'])

    return weekly_sentiment_score_df

# Example usage
# Assuming df_exploded_with_date is your dataframe and entity_columns is a list of entity columns to analyze
entity_columns = ['PERSON', 'ORG', 'GPE', 'PRODUCT']
date_column = 'pubdate'  # Replace this with the name of your date column
weekly_sentiment_score_df = calculate_weekly_sentiment_score_by_entity(df, entity_columns, date_column)

# View the result
display(weekly_sentiment_score_df)

,Entity,Week,Number of Articles,Number of Positive Articles,Sentiment Score
50295,""" """,2016-10-24,1,0,0.0
121396,#,2016-09-05,1,0,0.0
3762,&,2016-02-29,2,0,0.0
3766,&,2016-03-07,2,0,0.0
3765,&,2016-03-14,1,0,0.0
...,...,...,...,...,...
65596,林 莊 月 里,2017-08-07,2,0,0.0
65597,林 里,2017-08-07,4,0,0.0
78177,権,2017-04-03,1,0,0.0
112853,📍 phil,2016-11-07,6,6,1.0
76613,🕊Xuyen s . Nguyen♾,2017-05-29,1,0,0.0

In [14]:
def calculate_weekly_sentiment_score_with_total(df, entity_columns, date_column):
    """
    For each entity and week, calculate the weekly average sentiment score, and for each entity,
    calculate the total sentiment score (all positive articles divided by all articles).

    Parameters:
    - df: DataFrame containing entity columns, sentiment labels, and a date column.
    - entity_columns: List of columns containing entities.
    - date_column: Name of the column containing the article date.

    Returns:
    - DataFrame with each unique entity, week, number of articles, number of positive sentiment articles,
      weekly sentiment score, and total sentiment score.
    """
    # Ensure the date column is in datetime format
    df[date_column] = pd.to_datetime(df[date_column])

    # Add a 'week' column based on the date column
    df['week'] = df[date_column].dt.to_period('W').dt.start_time

    # Dictionary to store entity information: counts, positive sentiment counts, and weeks
    entity_week_info = defaultdict(lambda: defaultdict(lambda: {'count': 0, 'positive_count': 0}))
    total_entity_info = defaultdict(lambda: {'total_count': 0, 'total_positive': 0})

    # Iterate over the rows of the DataFrame
    for idx, row in df.iterrows():
        sentiment = row['sentiment_label']  # Sentiment label for this article
        week = row['week']  # The week for this article
        for col in entity_columns:
            # Get the list of entities from the current entity column (ensure it's a valid string)
            entities = row[col] if pd.notna(row[col]) else ''
            for entity in entities.split(","):
                entity = entity.strip()
                if entity:
                    # Update the entity info for the week
                    entity_week_info[entity][week]['count'] += 1
                    if sentiment == "POSITIVE":
                        entity_week_info[entity][week]['positive_count'] += 1
                    
                    # Update the total counts for the entity
                    total_entity_info[entity]['total_count'] += 1
                    if sentiment == "POSITIVE":
                        total_entity_info[entity]['total_positive'] += 1

    # Create a DataFrame to store the weekly results
    result_data = []
    for entity, week_data in entity_week_info.items():
        for week, data in week_data.items():
            total_articles = data['count']
            positive_articles = data['positive_count']
            # Calculate weekly sentiment score
            weekly_sentiment_score = positive_articles / total_articles if total_articles > 0 else 0
            result_data.append({
                'Entity': entity,
                'Week': week,
                'Number of Articles': total_articles,
                'Number of Positive Articles': positive_articles,
                'Weekly Sentiment Score': weekly_sentiment_score
            })

    # Convert the weekly result data to a DataFrame
    weekly_sentiment_score_df = pd.DataFrame(result_data)

    # Add total sentiment score for each entity
    total_scores = []
    for entity, data in total_entity_info.items():
        total_articles = data['total_count']
        total_positive_articles = data['total_positive']
        # Calculate total sentiment score
        total_sentiment_score = total_positive_articles / total_articles if total_articles > 0 else 0
        total_scores.append({'Entity': entity, 'Total Sentiment Score': total_sentiment_score})

    # Convert total scores to a DataFrame
    total_scores_df = pd.DataFrame(total_scores)

    # Merge total sentiment scores with the weekly sentiment score DataFrame
    final_df = weekly_sentiment_score_df.merge(total_scores_df, on='Entity', how='left')

    # Sort by entity and week (optional)
    final_df = final_df.sort_values(by=['Entity', 'Week'])

    return final_df

# Example usage
# Assuming df_exploded_with_date is your dataframe and entity_columns is a list of entity columns to analyze
entity_columns = ['PERSON', 'ORG', 'GPE', 'PRODUCT']
date_column = 'pubdate'  # Replace this with the name of your date column
weekly_sentiment_score_with_total_df = calculate_weekly_sentiment_score_with_total(df, entity_columns, date_column)

# View the result
display(weekly_sentiment_score_with_total_df)

,Entity,Week,Number of Articles,Number of Positive Articles,Weekly Sentiment Score,Total Sentiment Score
50295,""" """,2016-10-24,1,0,0.0,0.000000
121396,#,2016-09-05,1,0,0.0,0.000000
3762,&,2016-02-29,2,0,0.0,0.183463
3766,&,2016-03-07,2,0,0.0,0.183463
3765,&,2016-03-14,1,0,0.0,0.183463
...,...,...,...,...,...,...
65596,林 莊 月 里,2017-08-07,2,0,0.0,0.000000
65597,林 里,2017-08-07,4,0,0.0,0.000000
78177,権,2017-04-03,1,0,0.0,0.000000
112853,📍 phil,2016-11-07,6,6,1.0,1.000000
76613,🕊Xuyen s . Nguyen♾,2017-05-29,1,0,0.0,0.000000

In [16]:
weekly_sentiment_score_with_total_df[weekly_sentiment_score_with_total_df['Number of Articles'] > 100]

,Entity,Week,Number of Articles,Number of Positive Articles,Weekly Sentiment Score,Total Sentiment Score
10591,',NaT,240,193,0.804167,0.355363
8985,android,2016-05-16,137,76,0.554745,0.317684
1214,apple,2016-03-21,162,19,0.117284,0.183140
1213,apple,2016-04-18,103,23,0.223301,0.183140
1187,apple,2016-08-29,128,6,0.046875,0.183140
1188,apple,2016-09-05,268,40,0.149254,0.183140
1169,apple,2016-09-12,142,58,0.408451,0.183140
1157,apple,2016-10-24,127,35,0.275591,0.183140
1161,apple,2017-06-05,139,45,0.323741,0.183140
1363,facebook,2016-11-14,109,13,0.119266,0.236784
568,google,2016-03-07,102,27,0.264706,0.289151
571,google,2016-05-16,357,184,0.515406,0.289151
572,google,2016-05-23,127,23,0.181102,0.289151
513,google,2016-10-03,246,127,0.516260,0.289151
521,google,2017-05-15,151,66,0.437086,0.289151
14756,microsoft,2016-10-24,116,44,0.379310,0.318970
42017,newwhat,2016-04-25,117,55,0.470085,0.459325
42019,newwhat,2016-05-16,109,40,0.366972,0.459325
28911,o,NaT,261,211,0.808429,0.673239
64137,reilly media,NaT,156,123,0.788462,0.789809
42086,risingwhat,2016-04-25,116,54,0.465517,0.461625
42088,risingwhat,2016-05-16,108,40,0.370370,0.461625
2278,trump,2016-11-07,135,4,0.029630,0.069450
2285,trump,2017-01-16,112,12,0.107143,0.069450
2292,trump,2017-01-30,122,3,0.024590,0.069450

In [10]:
sentiment_score_df[sentiment_score_df['Number of Articles'] > 100]

,Entity,Number of Articles,Number of Positive Articles,Sentiment Score
69663,social inc .,104,84,0.807692
18245,reilly media,157,124,0.789809
3727,o,355,239,0.673239
1076,anker,157,102,0.649682
2422,media,142,89,0.626761
...,...,...,...,...
1696,dnc,108,5,0.046296
1695,cnn,206,8,0.038835
1988,epa,123,4,0.032520
143,senate,131,2,0.015267
152,waymo,144,2,0.013889

In [10]:
df_explode_with_date.to_csv('exploded_data_with_date.csv', index=False);

In [7]:
df = pd.read_csv('exploded_data_with_date.csv')

In [8]:
df.describe()

,title,cleaned_content,entities_detected,entities_detected_title,summary,sentiment_label,PERSON,ORG,GPE,PRODUCT,pubdate
count,13995,13964,13928,8525,13995,13995,13258,13731,8370,4920,13832
unique,13806,13816,13716,5199,13777,3,12769,13140,5375,2771,13535
top,The Morning After: Weekend Edition,The Morning After: Weekend EditionEngadget Log...,"ORG: facebookshare, ORG: twitternext",ORG: google,No summary available,NEGATIVE,kinja,"facebookshare, twitternext",hotabout,| techcrunch menusearchfollow,2017-07-29 12:00:00
freq,25,5,24,200,31,9495,52,110,341,881,6

In [30]:
sentiment_score_df.describe()

       Number of Articles  Number of Positive Articles  Sentiment Score
count        74048.000000                  74048.00000     74048.000000
mean             3.897918                      1.15444         0.324906
std             42.439708                     11.76634         0.442848
min              1.000000                      0.00000         0.000000
25%              1.000000                      0.00000         0.000000
50%              1.000000                      0.00000         0.000000
75%              2.000000                      1.00000         1.000000
max           4489.000000                   1298.00000         1.000000

In [33]:
representative_entities = sentiment_score_df[sentiment_score_df['Number of Articles'] > 100]

In [35]:
representative_entities.to_csv("representative_entities.csv", index=False)

In [2]:
pd.isna(representative_entities[representative_entities['Entity'] == 'google'])

NameError: name 'representative_entities' is not defined

In [4]:
representative_entities = pd.read_csv("representative_entities.csv")

In [5]:
representative_entities.describe()

       Number of Articles  Number of Positive Articles  Sentiment Score
count          292.000000                   292.000000       292.000000
mean           382.784247                   103.852740         0.279386
std            552.461052                   153.426529         0.130688
min            101.000000                     2.000000         0.013889
25%            132.000000                    31.000000         0.198630
50%            179.500000                    56.000000         0.269913
75%            372.750000                   105.250000         0.346488
max           4489.000000                  1298.000000         0.807692

In [17]:
weekly_sentiment_score_with_total_df

,Entity,Week,Number of Articles,Number of Positive Articles,Weekly Sentiment Score,Total Sentiment Score
50295,""" """,2016-10-24,1,0,0.0,0.000000
121396,#,2016-09-05,1,0,0.0,0.000000
3762,&,2016-02-29,2,0,0.0,0.183463
3766,&,2016-03-07,2,0,0.0,0.183463
3765,&,2016-03-14,1,0,0.0,0.183463
...,...,...,...,...,...,...
65596,林 莊 月 里,2017-08-07,2,0,0.0,0.000000
65597,林 里,2017-08-07,4,0,0.0,0.000000
78177,権,2017-04-03,1,0,0.0,0.000000
112853,📍 phil,2016-11-07,6,6,1.0,1.000000
76613,🕊Xuyen s . Nguyen♾,2017-05-29,1,0,0.0,0.000000

In [18]:
weekly_sentiment_score_with_total_df.to_csv('df_with_weekly_sentiment_score.csv', index=False)

In [23]:
weekly_sentiment_score_with_total_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 133279 entries, 50295 to 76613
Data columns (total 6 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Entity                       133279 non-null  object
 1   Week                         132194 non-null  datetime64[ns]
 2   Number of Articles           133279 non-null  int64
 3   Number of Positive Articles  133279 non-null  int64
 4   Weekly Sentiment Score       133279 non-null  float64
 5   Total Sentiment Score        133279 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 7.1+ MB